<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Crash
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-row>
      <ion-col><ion-button (click)="getToken()">Get Token</ion-button></ion-col>
      <ion-col><ion-button (click)="setPerformanceEnable()">Performance</ion-button></ion-col>
      <ion-col><ion-button (click)="setUserId()">UserID</ion-button></ion-col>
      <ion-col><ion-button (click)="sendLogErrorToCrash()">Send Log</ion-button></ion-col>
      <ion-col><ion-button (click)="crashApp()">Crash!</ion-button></ion-col>
      <ion-col><ion-button (click)="normalexception(1, 2)">Crash!</ion-button></ion-col>
    </ion-row>
  </div>
</ion-content>
